
---
import Button from "./Button.astro"
---
<section id="hero" aria-label="Hero-Section" class="hero container">
  <svg
    class="svg"
    fill="#eff6ff"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="0,0 0,0 25,100 0,100" />
  </svg>
  <div class="text">
    <p class="">The only value proposition that really matters</p>
    <h1 class="h1 fw-bold">It’s Time for a Switch-Up</h1>
    <p class="">
      You can focus on running your business while I focus on growing it.
    </p>
    <div class="cta">
      <Button text="get started" variant="secondayr"/>
    </div>
            <section class="social_proof d-flex">
            <div class=" d-flex" style="--gap:1rem">
                {Array.from({length: 5},(v,i)=>{
                    return(
                        <img class=`${i>0? "margin":""} ${i>2 && "mobile_weg"}` src=`/assets/hero/avatar_${i+1}.png` alt=`avatar_${i+1}`/>
                        )
                })}
            </div>
            <p>
                <span class="fw-bold">30+</span> Happy Clients
            </p>
            <div class="line"></div>
        </section>
  </div>
  <div class="image">
    <img src="/assets/hero/hero.jpg" alt="Hero image" />
  </div>
</section>

<style lang="scss">
  .svg {
    display: none;
  }
  .feat {
    background: var(--gray);
    margin-top: -3rem;
    padding-top: 3rem;
  }
  .h1 {
    padding-block: 0.5rem;
  }
  .hero {
    min-height: 70vh;
    padding-top: 1.5rem;
  }
  .hero .image img {
    border-radius: 0.5rem;
  }
  .hero .image {
    padding-top: 2rem;
  }
  .cta{
      padding-block: 1rem 1.5rem;
  }
 

  .social_proof {
    align-items: center;
    --gap: 1rem;
    position: relative;
    & img {
      width: 36px;
      aspect-ratio: 1;
      border: var(--light) 1px solid;
      border-radius: 90px;
      z-index: 99;
    }
    & .margin {
      margin-left: -1.5rem;
    }
    & .mobile_weg{
        display: none;
    }
    & .line {
      width: 240px;
      height: 2px;
      background: var(--primary);
      position: absolute;
      bottom: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .hero {
      display: flex;
    }
    .h1{
        padding-block: 1rem;
    }
    .hero .text {
      width: 50%;
    
      height: 70vh;
      flex-direction: column;
      display: flex;

      justify-content: center;
    }
    .hero .image {
      width: 50%;
      position: absolute;
      right: 0;
      padding-top: 0rem;
    }
    .hero .image img {
      height: 70vh;
      object-fit: cover;
      border-radius: 0;
    }
    .svg {
      position: absolute;
      height: 70vh;
      left: 50%;
      z-index: 10;
      display: block;
      width: 50%;
    }
    .feat {
      margin-top: 0rem;
      padding-top: 0rem;
      height: calc(100vh - 70vh - 51px);
    }
      .cta{
      padding-block: 2rem;
  }
    .social_proof {
& .mobile_weg{
        display: block;
    }
    & .line {
      width: 300px;
    }
  }
  }
</style>
